{% extends 'main/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content%}
<div class="mx-auto" style="width: 600px;">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <h5>Клиент рассылки</h5>
                    <p>Для создания клиента рассылки заполните поля формы</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2 mb-2">
                        <label for="form.full_name.id_for_label" class="visually-hidden"></label>
                        {{ form.full_name }}
                        <label for="form.email.id_for_label" class="visually-hidden"></label>
                        {{ form.email }}
                    </div>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2 mb-4">
                        <label for="{{ form.comment.id_for_label }}" class="visually-hidden"></label>
                        {{ form.comment }}

                    </div>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2 mb-2">
                        <button type="submit" class="btn btn btn-dark">
                            {% if object %}
                            Сохранить
                            {% else %}
                            Создать клиента
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}