{% load static %}

<div class="p-4  mb-4 rounded text-body-emphasis bg-body-tertiary">
    <form action="{% url 'mailing:create_client' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-7">
                <h5>Подписка на рассылку</h5>
                <p>Будем присылать вам обзоры, промокоды и всякие-разные новости</p>
                {{ client_form }}
                <button class="btn btn btn-dark mt-3" value="Сохранить" type="submit">Подписаться</button>
            </div>
            <div class="col-5">
                <img src="{% static 'images/header-mailing.jpg' %}" class="card-img-top" alt="...">
            </div>
        </div>
    </form>
</div>