{% extends 'main/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="mx-auto" style="width: 400px;">
    <div class="card">
        <h5 class="card-header">Рассылка</h5>
        <div class="card-body">
            <p class="card-text"><strong>Наименование рассылки:</strong> {{ object.title }} </p>
            <p class="card-text"><strong>Менеджер рассылки:</strong> {{ object.owner }} </p>
            <p class="card-text"><strong>Сообщение рассылки:</strong> {{ object.message }} </p>
            <p class="card-text"><strong>Получатели рассылки:</strong> {% for client in object.target.all %} {{ client }} <br> {% endfor %} </p>
            <p class="card-text"><strong>Периодичность рассылки:</strong> {{ object.period }} </p>
            <p class="card-text"><strong>Дата и время первой отправки рассылки:</strong> {{ object.created_datetime }}
            </p>
            <p class="card-text"><strong>Статус рассылки:</strong> {{ object.status }} </p>
            <div class="group">
                <a href="{% url 'mailing:edit_mailing' object.pk %}" class="btn btn-warning">Редактировать</a>
                <a href="{% url 'mailing:delete_mailing' object.pk %}" class="btn btn-danger">Удалить</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
