{% extends 'main/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% load my_media_tag %}

{% block content %}
<article class="blog-post">
    <h2 class="display-5 link-body-emphasis mb-1">{{ object.title|capfirst }}</h2>
    <p class="blog-post-meta">{{ object.created_at.date }} | Просмотров: {{ object.views_count }}</p>
    <div class="row">
        <div class="col-7">
            {% if perms.blog.change_blogpost and perms.blog.delete_blogpost %}
            <div class="btn-group">
                <a href="{% url 'blog:edit_post' object.pk %}" class="btn btn-sm btn-outline-secondary rounded-1">Редактировать пост</a>
                <!-- Кнопка-триггер модального окна -->
                <button type="button" class="btn btn-sm btn-outline-secondary rounded-1 ms-1" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                    Удалить пост
                </button>
                {% include 'blog/blogpost_confirm_delete.html' %}
            </div>
            {% endif %}
        </div>
        <p>
        <div class="col-7">
            <p>{{ object.body|linebreaksbr }}</p>
        </div>
        <div class="col-1">
        </div>
        <div class="col-4">
            {% if object.image %}
            <img src="{% my_media object.image %}" class="d-block w-100" alt="...">
            {% endif %}
        </div>
    </div>
</article>
<br>
{% endblock %}